$white-color: #ffffff;
$black-color: #000000;
$black-color-1: #232B3E;
$black-color-2: #141924;

$primary-color: #518E93;
$primary-color-1: #3D797D;  
$secondary-color: #C0DC6D;
$secondary-color-1: #B3D54E;

$gray-color-0: #F5F7FB; 
$gray-color-1: #ECEEF4;
$gray-color-2: #E1E3E9;
$gray-color-3: #D5D8E0;
$gray-color-4: #A1A8B7;
$gray-color-5: #878FA2;
$gray-color-6: #6D778D;
$gray-color-7: #4A5672;
$gray-color-8: #394664;

$blue-color: #B2EDEF;

$error-color-0: #FEF3F2;
$error-color-1: #FDA29B;
$error-color-2: #D2443A;
$error-color-3: #D92D20;

$success-color-0: #ECFDF3;
$success-color-1: #12B76A;
$success-color-2: #027A48;

// Bootstrap color variable
$body-bg: $white-color;
$body-color: $black-color-1;
$gray-base: $black-color !default;
$gray-darker: lighten($gray-base, 13.5%) !default; // #222
$gray-dark: lighten($gray-base, 20%) !default;   // #333 
$gray: lighten($gray-base, 33.5%) !default; // #555
$gray-light: lighten($gray-base, 46.7%) !default; // #777
$gray-lighter: lighten($gray-base, 93.5%) !default; // #eee
$theme-colors: (
  "primary": $primary-color,
  "secondary": $secondary-color
);

// Link color 
$link-color:  $primary-color !default;
$link-hover-color: $black-color-1 !default;
$link-hover-decoration: none !default;

// Container 
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1180px,
  xxl: 1368px
) !default;

// Buttons 
$btn-font-weight: 600 !default;
$btn-border-radius: 0 !default;

// Grid gutter width
$grid-gutter-width: 48px;

// Forms Input 
$input-bg: transparent !default;
$input-bg-disabled: $gray-color-0 !default;
$input-color: $black-color-2 !default;
$input-border-width: 1px;
$input-border-color: $black-color-2 !default;
$input-border-radius: 0px !default;
$input-focus-border-color: $black-color-1 !default; 
$input-focus-color: $black-color-1 !default; 
$input-placeholder-color: $gray-color-5 !default;
$input-height: 60px !default;
$input-focus-box-shadow: none !default;

// form-group margin 
$form-group-margin-bottom: 24px !default;