.cmn-team-list{
    padding: 80px 0px 0px;
    @include media-breakpoint-down(lg) {
        padding: 40px 0px 10px;
    } 
    h3{
        margin-bottom: 48px;
        color: $primary-color;
        @include media-breakpoint-down(lg) {
            margin-bottom: 30px;
        }
    }
    .row{
        > .col,
        > [class*="col-"]{
            border-right: 1px solid $black-color-2;
            position: relative;
            margin-bottom: 80px;
            @include media-breakpoint-up(xl) {
                &:nth-child(4n+4){
                    border-right: none;
                }
            }
            @include media-breakpoint-down(xl) {
                &:nth-child(3n+3){
                    border-right: none;
                }
            }
            @include media-breakpoint-down(lg) {
                margin-bottom: 30px;
                &:nth-child(3n+3){
                    border-right: 1px solid $black-color-2;
                }
                &:nth-child(2n+2){
                    border-right: none;
                }
            }
            @include media-breakpoint-down(md) {
                &:nth-child(3n+3){
                    border-right: none;
                }
                border-right: none;
            }
            &:last-child{
                border-right: none;
            }
        }
    }
    .team-card{
        position: relative;
        .team-img{
            margin-bottom: 16px;
            overflow: hidden;
            img{
                @include transition(0.4s);
                width: 100%;
            }
        }
        .team-intro{
            h5{
                margin-bottom: 8px;
            }
            a{
                color: $black-color-1;
            }
            span{
                color: $gray-color-5;
                @include text-16;
                display: block;
            }
        }
        &:hover{
            .team-img{
                img{
                    @include transform(scale(1.1));
                }
            }
            .team-intro{
                a{
                    color: $gray-color-7;
                }
            }
        }
    }
    &.inner-page-team-list{
        padding: 60px 0px 40px;
        @include media-breakpoint-down(lg) {
            padding: 40px 0px;
        }
    }
}
.team-cta{
    padding: 80px 0px 120px;
    @include media-breakpoint-down(lg) {
        padding: 40px 0px 80px;
    }
    .h1{
        margin-bottom: 28px;
    }
}
/* Team Detail CSS */
.team-details{
    padding: 80px 0px 60px;
    @include media-breakpoint-down(lg) {
        padding: 80px 0px 40px;
    }
    .employee-detail{
        img{
            margin-bottom: 24px;
        }
        h3{
            margin-bottom: 12px;
            color: $black-color-1;
        }
        .emp-designation{
            display: block;
            @include text-18;
            color: $gray-color-6;
            margin-bottom: 32px;
        }
        .social-icon{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            a {
                + a{
                    margin-left: 32px;
                }
                &:hover{
                    svg{
                        *{
                            fill: $black-color-2;
                        }
                    }
                }
            }
        }
    }
    .employee-blog{
        margin-bottom: 80px;
        @include media-breakpoint-down(lg) {
            margin-bottom: 50px;
        }
        p{
            &:last-child{
                margin-bottom: 0px;
            }
        }
        a{
            @extend .btn.btn-link ;
          }
    }
    .emp-acc-detail{
        .accordion-item{
            @include border-radius(0px);
            border-left: none;
            border-right: none;
            border-top: 1px solid $black-color-2;
            border-bottom: 1px solid $black-color-2;
            margin-top: -1px;
            .accordion-button{
                box-shadow: none;
                border: none;
                background: transparent;
                padding: 24px 24px 24px 0px;
                @include text-22;
                color: $black-color-2;
                &::after{
                    content: normal;
                }
                &::before{
                    content: "";
                    background-image: url('../images/icon-acc-plus.svg');
                    width: 30px;
                    height: 30px;
                    background-repeat: no-repeat;
                    background-position: center;
                    margin-right: 30px;
                    @include transition(0.3s);
                }
                &:hover{
                    color: $gray-color-6;
                    &::before{
                        @include opacity(0.5);
                    }
                }
                &:not(.collapsed){
                    &::before{
                        @include transform(rotate(-45deg));
                    }
                }
            }
            .accordion-body{
                padding: 0px 30px 30px 60px;
                @include text-20;
            }
        }
    }
}
